#div1 {
    background-color: rgb(255, 199, 131);
    margin-left: 400px;
    margin-right: 400px;
    height: 70px;
    border: solid 3px;
    text-align: center;
}
#h21 {
padding-top: 150px;

}
#div2 {
    background-color: rgb(255, 199, 131);
    margin-left: 400px;
    margin-right: 400px;
    height: 150px;
    border: solid 3px;
    margin-top: 20px;

}
#div3 {
    background-color: rgb(255, 199, 131);
    margin-left: 400px;
    margin-right: 400px;
    height: 150px;
    border: solid 3px;
    margin-top: 20px;
}
#div4 {
    background-color: rgb(255, 199, 131);
    margin-left: 400px;
    margin-right: 400px;
    height: 150px;
    border: solid 3px;
    margin-top: 20px;
}
p {
    margin: 0px;
    padding-left: 10px;
    padding-top: 10px;
}
#img1 {
    float: left;
    width: 100px;
    height: 90px;
}
#img2 {
    float: right;
    width: 100px;
    height: 80px;
}