*{margin:0;padding:0;box-sizing:border-box;font-size:0;}
            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:black;
    }
    nav li:hover{
    background-color:yellow;
    color:#000;
    }

li a:hover{
    background-color: yellow;
}

li a:active{
    background-color: green;
}
.active{
    background-color: #4CAF50;
}

